
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  background: #0078d7;
  color: #fff;
  text-align: center;
  padding: 40px 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}


main {
  flex: 1;
  padding: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 30px;
}

.intro p {
  font-size: 1.3rem;
  color: #00008B;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
}

h2 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 15px;
}



button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



.search {
  margin-bottom: 20px;
  text-align: center;
}

#searchInput {
  padding: 10px;
  width: 70%;
  max-width: 400px;
  border: 2px solid #0078d7;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

#searchInput:focus {
  outline: none;
  border-color: #005bb5;
  box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
}



ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

li a {
  text-decoration: none;
  color: #0078d7;
  font-weight: bold;
  font-size: 1.1rem;
}

li a:hover {
  color: #005bb5;
  text-decoration: underline;
}

li button {
  padding: 8px 15px;
  background: #0078d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

li button:hover {
  background: #005bb5;
  transform: scale(1.05);
}


footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: #fff;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .intro p {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  li a {
    font-size: 1rem;
  }
}

